:root {
    --color-grey: #777777;
    --color-black: #333333;
    --color-purple: #ff0156;
    --color-purple-light: #f5afaf;
    --color-grey: #dddada;
    --color-lavender: #260936;
    --color-lavender-light: #463550;
    --container-padding: 8px 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0 auto;
    padding: 0;
    max-width: 1040px;
    min-height: 100vh;
    color: var(--color-black);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
    flex-grow: 1;
    background-color: var(--color-grey);
}

a {
    color: var(--color-black);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--color-black);
}

header {
    display: flex;
    flex-flow: row nowrap;
    padding: var(--container-padding);
    align-items: center;
    background-color: var(--color-lavender);
}

header div:first-child {
    display: inline-block;
    flex-grow: 1;
    width: auto;
}

h1.main-header a {
    color: white;
}

h1.main-header a:hover {
    color: white;
}


h1::first-letter, h2::first-letter  {
    color: var(--color-purple);
}

h2{
    font-weight: 400;
    font-size: 30px;
    color: var(--color-lavender);
    text-align: center;
}

div.main-nav {
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
}
.main-nav a {
    margin-left: 15px;
    text-transform: uppercase;
    color: white;
}

.main-nav a:hover {
    color: var(--color-purple);
}

footer {
    color: var(--color-grey);
    border-top: 2px solid white;
    padding: var(--container-padding);
    background-color: var(--color-grey);
}

article {
    margin: 0;
    padding: var(--container-padding);
}

.profile-picture {
    width: 250px;
}

input{
    margin-right: 5px;
    border: 2px solid var(--color-lavender-light);
    padding: 12px;
    font-size: 18px;
    border-radius: 5px;
    color: var(--color-lavender);
}
input:focus{
    outline: 4px solid var(--color-purple-light);
}

button{
    height: 52px;
    padding: 12px;
    text-transform: uppercase;
    background-color: var(--color-purple);
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    border: 2px solid white;
    outline: 2px solid var(--color-purple);
    cursor: pointer;
}
button:hover{
    color: var(--color-purple);
    background-color: white;
}